<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936509388551-066p7uul139b7tv7h6o0b8shr53tt8td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936509388551-066p7uul139b7tv7h6o0b8shr53tt8td</string>
	<key>API_KEY</key>
	<string>AIzaSyAbHHO25L6aDb8Z_mw0tQf4eN-EUsEox4c</string>
	<key>GCM_SENDER_ID</key>
	<string>936509388551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hakalive.app</string>
	<key>PROJECT_ID</key>
	<string>haka-live-5d887</string>
	<key>STORAGE_BUCKET</key>
	<string>haka-live-5d887.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936509388551:ios:f380b2cbaf7e610367b7a2</string>
</dict>
</plist>